body {
  font-family: Helvetica, sans-serif;
}

#background {
  margin: -8px;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background: white;
}
